# Heading
## Heading
### Heading

# 2 Data Science Tools and Ecosystem

## 3 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**

Introduced to a Data Scientist's toolkit that consists of a variety of tools, languages, libraries, APIs, data sets, models, etc, to be knowledgeable about the kinds of tools Data Scientists use.

1. Languages of Data Science -- Python, R, SQL, & Scala
2. Libraries of Data Science -- Pandas, NumPy, Scipy & Matplotlib. Also the REST API
3. Jupyter Notebook and JupyterLab. Learnt on how to work with different kernels and the basic Jupyter architecture
4. RStudio and GitHub. We learnt about the different R visualization packages
6. IBM Watson Studio, Learnt about and working with data science tools from IBM such as Watson Studio

## 4 Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

## 5 Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scipy
4. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Spark|
|RStudio|

### 7 Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
8# This a simple arithmetic expression to mutiply then add integers

print(3*4+5)

17

In [5]:
9# This will convert 200 minutes to hours by diving by 60

x = 200
y = x/60
print("200 Minutes=", y,"hours")

200 Minutes= 3.3333333333333335 hours

## Author
Girish Venkatesh